.row {
	display: flex;
	height: fill;
}
.column {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
}

.left {
	flex: 40%;
	justify-content: center;
}
.right {
	flex: 60%;
	justify-content: center;
	text-align: left;
	gap: 50px;
}
