@font-face {
	font-family: myFirstFont;
	src: url(SpaceGrotesk.ttf);
}

.App {
	background-image: url(background.avif);
	background-size: cover;

	/* layout */
	display: flex;
	flex-direction: column;
	height: 100vh;

	/* font */
	font-family: myFirstFont;
	text-align: center;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 175px;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.row {
	display: flex;
	height: fill;
}
.column {
	display: flex;
	flex-direction: column;
}

.left {
	flex: 60%;
	justify-content: center;
}
.column .title {
	/* text */
	color: #aa4586;
	font-size: 75px;
	font-style: italic;
	font-weight: bold;

	/* layout */
	margin-top: -100px;
	background: rgb(255, 255, 255, 0.3);
	border-radius: 0px 50px 50px 0px;
	width: 90%;
}

.right {
	flex: 40%;
	justify-content: center;
	text-align: left;
	gap: 50px;
}
