.section {
	/* layout */
	display: flex;
	flex-direction: column;
	gap: 25px;
	margin: 25px;

	/* animation: fadeIn 3s; */
}
.title {
	margin: 0px;
	color: #a4778b;
	font-size: 50px;
	font-weight: bold;
	text-transform: uppercase;
	background: rgb(255, 255, 255, 0.3);
	border-radius: 5px;
	border: 1px solid #a9ffcb;
}

.section .subsection {
	/* layout */
	padding: 10px;
	width: fill;

	/* styling */
	background-color: white;
	border: 0.5px solid #0d1f2d;
	border-radius: 5px;
}
