@font-face {
	font-family: myFirstFont;
	src: url(SpaceGrotesk.ttf);
}

.App {
	background-image: url(background.avif);
	background-size: cover;

	/* layout */
	display: flex;
	flex-direction: column;
	height: 100vh;

	/* font */
	font-family: myFirstFont;
	text-align: center;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 175px;
}

.linkRow {
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: center;
	margin: 0;
}
a {
	font-size: 20px;
	color: #aa4586;
	text-decoration: none;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.row {
	display: flex;
	height: fill;
}
.column {
	display: flex;
	flex-direction: column;
}

.left {
	flex: 60%;
	justify-content: center;
}
.title {
	/* text */
	color: #aa4586;
	-webkit-text-stroke: 1px white;
	font-size: 75px;
	font-style: italic;
	font-weight: bold;

	/* layout */
	margin-top: -100px;
	background: rgb(255, 255, 255, 0.3);
	border-radius: 0px 50px 50px 0px;
}

.right {
	flex: 40%;
	justify-content: center;
}

ul {
	/* bullet style*/
	list-style-type: none;
	text-align: left;

	/* layout */
	display: flex;
	flex-direction: column;
	gap: 50px;
}
li {
	font-size: 75px;
	font-weight: bold;
	letter-spacing: 3px;
	animation: fadeIn 3s;
}
li:hover {
	font-style: italic;
}
