@font-face {
	font-family: myFirstFont;
	src: url(SpaceGrotesk.ttf);
}

.App {
	background-color: #f7986f;

	/* layout */
	/* overflow: scroll; */
	/* padding: 0px 50px 0px 50px; */
	display: flex;
	flex-direction: column;
	/* gap: 35px; */
	min-height: 100vh;
	background-size: cover;

	/* font */
	font-family: myFirstFont;
	text-align: center;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 175px;
}

h1,
h2 {
	color: #0d1f2d;
}
h3 {
	color: #546a7b;
}

.header {
	/* box styling */
	background-color: #c7cad1;
	border-bottom: 2.5px solid #0d1f2d;

	/* layout */
	display: flex;
	flex-direction: column;
	padding: 10px;
	gap: 10px;
	position: sticky;
	top: 0;
	height: fit-content;

	/* font */
	font-size: calc(10px + 2vmin);
	-webkit-text-stroke: 1px #c7cad1;
}
.header .title {
	margin: 0;
	padding: 0;
}

.linkRow {
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: center;
	margin: 0;
}
a {
	font-size: 20px;
	color: #f7986f;
	/* -webkit-text-stroke: 0.5px black; */
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.section {
	/* layout */
	display: flex;
	flex-direction: column;
	gap: 25px;
	padding: 25px;
	margin: 25px;

	/* styling */
	background-color: #9ea3b0;
	border-radius: 5px;
	border: 1px solid #0d1f2d;
	animation: fadeIn 3s;
}
.section .title {
	background-color: #c7cad1;
	border: 0.5px solid #0d1f2d;
	border-radius: 5px;
	padding: 10px;
	width: fill;
	margin: 0px;
}

.subsection {
	/* layout */
	display: flex-box;
	flex-direction: column;
	padding: 10px;
	width: fill;

	/* styling */
	background-color: white;
	border: 0.5px solid #0d1f2d;
	border-radius: 5px;
}

.education {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin-top: 10px;
}

p.education {
	margin: 0px;
}

.UVA-logo {
	height: 10vmin;
	pointer-events: none;
}
