.section {
	/* layout */
	display: flex;
	flex-direction: column;
	gap: 25px;
	padding: 25px;
	margin: 25px;

	/* styling */
	background-color: #a4778b;
	border-radius: 5px;
	border: 1px solid #0d1f2d;
	animation: fadeIn 3s;
}
.section .title {
	background-color: #b6eea6;
	border: 0.5px solid #0d1f2d;
	border-radius: 5px;
	padding: 10px;
	width: fill;
	margin: 0px;
}

.subsection {
	/* layout */
	display: flex-box;
	flex-direction: column;
	padding: 10px;
	width: fill;

	/* styling */
	background-color: white;
	border: 0.5px solid #0d1f2d;
	border-radius: 5px;
}

.education {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin-top: 10px;
}

p.education {
	margin: 0px;
}
